form {
  width: 500px;
  margin: auto;
  margin-top: 50px;
}

label {
  width: 150px;
  font-weight: bold;
  float: left;
  display: block;
}

input[type='submit'] {
  width: 172px;
  margin-left: 151px;
}
